@font-face {
    font-family: 'ibm_plex_monoregular';
    src: url('ibm/ibm-plex-mono.regular-webfont.woff2') format('woff2'),
         url('ibm/ibm-plex-mono.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: rgb(254, 224, 179);
    font-family: 'ibm_plex_monoregular';
}

.image-fond{
    /* Fixe l'image en haut à gauche de la page */
    position: fixed; 
    top: 0; 
    left: 0; 
    /* Préserve le ratio de l'image */
    min-width: 100%;
    min-height: 100%;
}

nav{
    display : flex;
    justify-content: center; 
    position: fixed;
    top: 0;
    width: 100vw;
    flex-wrap: wrap;
    z-index: 1000;
}

button{
    padding: 10px 5px 10px 5px;
    background-color: rgb(123, 237, 122);
    border: 1.5px solid rgb(38, 46, 109);
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'ibm_plex_monoregular';
    color: rgb(38, 46, 109);
}

#menu{
    display : flex;
    justify-content: center;
    background-color: rgba(199, 3, 179, 0.564); 
    width:200%;
}

li{
    list-style-type: none;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 8px;
    margin-bottom: 2px;
    font-size: 20px;
}


a{
    color: rgb(74, 0, 59); 
    text-decoration: none;
}

a:hover{
    color: rgb(253, 35, 242);
}

#nav {
    width: 100%;
    font-size: 60px;
    font-weight: bold;
    background-color:  rgba(199, 3, 179, 0.564);
    border-bottom: 5px solid rgb(54, 217, 54);
    display: flex;
    justify-content: center;
}

#nav a{  
    color: rgb(54, 217, 54);
}

li a:hover{
    color: rgb(54, 217, 54);
}


.inscritpion{
    margin-right: 10px;
    width: 100%;
}

#log{
    margin-top: 5px;
    margin-right: 15px;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    text-decoration: underline;
    width: 100%;
    /* background-color:rgba(10, 199, 3, 0.933) ; */
    padding-right: 20px;
}



#suscribe{
    display: none;
}

#open{
    display: none;
    margin-left:auto;
    margin-right: 20px;
}

#close{
    display: none;
    margin-left:auto;
    margin-right: 20px;
}

.container{
    margin-top: 150px;
}

@media screen and (max-width: 700px){
    /* nav{     
        margin-top: -100px;
    } */

    #nav{
        font-size: 20px;
    }


    li{
        font-size: 15px;
    }
    #log{
        font-size: 13px;
    }

    #open{
        display: block;
    }

    #menu{
        display: none;
    }

    #menu.show{
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 100px;
        background-color: rgb(199, 3, 180) ;
    }

    .inscritpion{
        display: flex;
        justify-content: center;

    }

    #log{
        display: none;
    }

    #suscribe{
        display: flex;
        justify-content: center;
    }
}



