
@font-face {
    font-family: 'ibm_plex_monoregular';
    src: url('ibm/ibm-plex-mono.regular-webfont.woff2') format('woff2'),
         url('ibm/ibm-plex-mono.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: rgb(254, 224, 179) ;
    font-family: 'ibm_plex_monoregular';
}

nav{
    display : flex;
    background-color:rgba(199, 3, 179, 0);
    justify-content: center;
    /* position: fixed; */  
    position: fixed;
    top: 0;
    width: 100vw;
    flex-wrap: wrap;
    /* margin-top: -150px; */
}

ul{
    display : flex;
}

li{
    list-style-type: none;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
}



a{
    color: rgb(74, 0, 59); 
    text-decoration: none;
}

a:hover{
    color: white;
}

#nav {
    width: 100%;
    font-size: 60px;
    font-weight: bold;
    background-color:  rgba(199, 3, 179, 0);
    border-bottom: 3px solid rgb(54, 217, 54);
    display: flex;
    justify-content: center;
}

#nav a{  
    color: rgb(54, 217, 54);
}

.inscitpion{
    background-color:  rgba(114, 199, 3, 0);
    width: 100%;
    padding-right: 10px;
}

#log{
    margin-top: 5px;
    margin-right: 15px;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    text-decoration: underline;
    background-color:rgba(49, 199, 3, 0.13) ;
}

#log:hover{
    color: rgb(250, 250, 250); 
}

#suscribe{
    display: none
}

#open{
    display: none;
    margin-left:auto;
    margin-right: 20px;
}

#close{
    display: none;
    margin-left:auto;
    margin-right: 20px;
}

@media screen and (max-width: 1040px){
    /* nav{     
        margin-top: -100px;
    } */

    #nav{
        font-size: 20px;
    }

    li{
        font-size: 15px;
    }
    #log{
        font-size: 13px;
    }

    #open{
        display: block;
    }

    #menu{
        display: none;
    }

    #menu.show{
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 100px;
        background-color: rgb(199, 3, 180) ;
    }

    #log{
        display: none;
    }

    #suscribe{
        display: flex;
    }
}



