body{
    background-color: rgb(254,224,179);
}
.container{
    margin: auto;
    margin-top: 120px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: aqua; */
}

.container-card{
    width: 40%;
    background-color:rgb(210,196,198);
    border: 22px, solid, rgb(74, 0, 59);
    margin: 10px;
}

h1{
    color:rgb(74, 0, 59); 
}

img{
    display: flex;
    align-items: center;
}

p{
    color:rgb(74, 0, 59); 
}




@media screen and (max-width: 840px){

    .container{
        width: 100vw;
    }

    .container-card{
        width: 90vw;
        background-color:rgb(210,196,198);
        border: 2px, solid, rgb(74, 0, 59);
        margin: 20px;
    }
}
