body{
    background-color: rgb(254,224,179);
}
.container{
    margin: auto;
    margin-top: 160px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-card{
    width: 40%;
    background-color:rgb(210,196,198);
    border: 1px solid rgb(74, 0, 59);
    margin: 10px;
}

h1{
    color:rgb(74, 0, 59); 
    margin-left: 10px;
}

.img{ 
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-content{
    font-size: 14px;
    padding: 10px;
}

p{
    color:rgb(74, 0, 59); 
    font-family: 'Courier Prime', arial;
}




@media screen and (max-width: 840px){

    .container{
        width: 100vw;
    }

    .container-card{
        width: 90vw;
        background-color:rgb(210,196,198);
        border: 2px, solid, rgb(74, 0, 59);
        margin: 20px;
    }
}
