.row{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 80px;
}
table{
    background-color: rgb(10, 10, 10);
    border: 2px solid black;
    color: white;
}

td{
    width: 200px; 
    padding: 10px;
    background-color: rgb(247, 207, 247);
    color: black;
}

td a::hoover{
    color:rgb(92, 4, 83)
}


@media screen and (max-width: 900px){

    h1{
        font-size: 15px;
    }

    td{
        width: 50px; 
        padding: 2px;
        background-color: rgb(247, 207, 247);
        color: black;
    }

    table{
        font-size: 12px;
    }
    
}