.container{
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

textarea,input {
    width: 100%;
    height: 300px;  
    margin: auto;
    white-space: pre-line;
}

input{
    height: 40px;
}


@media screen and (max-width: 800px){
    .container{
        width: 90%;
    }

    textarea,input {
        width: 100%;  
    }
}
