.container{
    width: 80%;
    margin: auto;
    margin-top: 200px;
}

textarea,input {
    width: 100%;
    height: 400px;  
    margin: auto;
}

input{
    height: 40px;
}


@media screen and (max-width: 1040px){
    .container{
        width: 80%;
    }

    textarea,input {
        width: 100%;  
    }
}
